body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background: url('back2.avif') no-repeat;
    background-size: cover;
    background-position: center center;


}
.heading{
    color: #6b29d3;
    font-size: xx-large;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main{
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 100px;
    position: relative;
    backdrop-filter: blur(1500px);
}
.personal{
    color: #393cdd;
    background-color: #b7e2ed;
    padding: 10px;
    bottom: 40px;
    font-size: x-large;
    border-radius: 10px;
    border: 1px solid 393cdd;
    width: 50%;
    margin: auto;
    text-align: center;
}
.pic1{
    color: #393cdd;
}
input[type="file"]{
    font-size: 16px;
    padding: 10px;
    width: 250px;
    background-color: #b7e2ed;
    border-radius: 30px;
    margin-top: 20px;
}
input[type="file"]::file.selector-button{
    background-color: #b7e2ed;
    cursor: pointer;
    font-size: large;
    color: #fff;
    background-color: #393cdd;
    border-radius: 10px;
}
form{
    margin-bottom: 40px;
}
#second{
    text-align: center;
}
input,textarea{
    display: block;
    margin-bottom: 10px;
    width: 70%;
    padding: 8px;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #b7e2ed;
    margin: auto;
    border-radius: 10px;
}
#education{
   width: 70%;
    height: 150px; 
}
#experience{
    width: 70%;
    height: 150px;
}
.btn{
    background-color: black;
    color: #fff;
    width: 33%;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid transparent;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4s ease-in;
}
.btn:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    transform: scale(1.1);
    box-shadow: 0 0 25px black;
}
.btn1{
    background-color: black;
    color: #fff;
    margin-left: 37%;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.2s ease-in;
    font-weight: 600;
}
.btn1:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    transform: scale(1.1);
    box-shadow: 0 0 25px black;
}
.btn1 i{
    font-size: small;
}
#resume-output{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #6b29d3;
    backdrop-filter: blur(1500px);
    margin-bottom: 20px; 
}
#sharable-link-container{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 3px solid black;
    color: #6b29d3;
    backdrop-filter: blur(1500px); 
}
a{
    color: black;
    transition: all 0.3s ease;

}
a:hover{
    color: rgb(31, 31, 231);
}
#btn2{
    margin-left: 35%;
}
h1{
    background-color: black;
    backdrop-filter: blur(1500px);
    color: white;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
}
h2,p{
    margin: 10px 0;
}
h2{
    font-size: 35px;
    font-family: cursive;
}
p{
    color: greenyellow;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
img{
    max-width: 150px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
@media (max-width: 780px){ 
    .btn1{
        width: 50%;
    }
}
@media (max-width: 600px){
    body{
        margin: 10px;
    }
    form{
        padding: 15px;
        margin-bottom: 20px;
    }
    input,texrarea{
        font-size: 14px;
        padding: 10px;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }
    img{
        max-width: 100px;
    }
    input[type="submit"]{
        padding: auto;
    }
    #resume-output{
        padding: 15px;
        margin-bottom: 20px;
        margin-left: -3px;
    }
    .btn1{
        width: 30%;
        margin: auto;
    }
}